body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 100px;
  gap: 200px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 100px;
  background-color: #1F2937;
}

.hero-left {
  width: 450px;
  padding: 8px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-right {
  width: 450px;
}

.sign-up-button {
  background-color: #3882F6;
  padding: 6px 24px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
}